beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
demjson==2.2.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.1
django-pandas==0.5.1
django-redis==4.9.0
gunicorn==19.9.0
idna==2.7
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==3.0.0
numpy==1.15.2
pandas==0.23.4
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
static3==0.7.0
